<!-- store/templates/store/category.html -->
{% extends 'store/base.html' %}
{% block title %}Категория {{ category.name }}{% endblock %}
{% block content %}
  <h2>Категория: {{ category.name }}</h2>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4">
          {% if product.image %}
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }} ₸</p>
            <a href="{% url 'product_detail' product.id %}" class="btn btn-success">Подробнее</a>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">В корзину</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}